################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/ArachnidCreations.DevTools/v15/Server/sqlite3
/.vs
/bin/Debug
/obj
